<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <h3><a href="http://jazz.football">jazz.football</a></h3>
                <small>
                    {{main.descriptionText}}
                </small>
                <ul class="nav">
                    <li><a ui-sref="index.games"><i class="fa fa-gamepad"></i> <span class="nav-label">My Games</span></a></li>
                    <li><a ui-sref="index.predict"><i class="fa fa-hand-o-right"></i> <span class="nav-label">Add Prediction</span></a></li>
                    <li><a ui-sref="index.profile"><i class="fa fa-user"></i> <span class="nav-label">Edit my information</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>